.add-task-main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.task-dialog {
  container-type: inline-size;
  margin-left: -80px;
}

.add-task-main-content {
  width: unset;
}

.task-description {
  height: 424px;
  display: flex;
  padding: 10px 10px 0 10px;
  margin-bottom: 200px;
  font-size: 20px;
}

.task-description-popup {
  height: 424px;
  display: flex;
  padding: 10px 10px 0 10px;
  margin-bottom: 200px;
  font-size: 20px;
}

.task-description input {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
  font-size: 20px;
}

input[type='text'],
input[type='password'],
textarea,
input,
select {
  outline: none;
}

details[open]:focus {
  border: 1px solid #005dff;
}

.error {
  border: 1px solid #ff8190 !important;
}

.error-message {
  color: red;
  font-size: 12px;
  position: relative;
}

#custom-date::-webkit-calendar-picker-indicator {
  background-image: url(../assets/img/add-task/date-picker.svg);
  background-position: center right -4px;
  background-repeat: no-repeat;
}

#custom-date::placeholder {
  color: #999; /* Hier die gewünschte Farbe eintragen */
  opacity: 1; /* Optional: Falls gewünscht, die Deckkraft anpassen */
}

#custom-date {
  padding: 12px 16px;
}

#custom-date-edit::-webkit-calendar-picker-indicator {
  background-image: url(../assets/img/add-task/date-picker.svg);
  background-position: center right -4px;
  background-repeat: no-repeat;
}

#custom-date-edit {
  padding: 12px 21px;
}

.my-inputs:focus,
.my-inputs-edit:focus,
#description-edit:focus,
#description:focus,
#category-edit:focus,
#category:focus,
#subtasks:focus,
#subtasks-edit:focus {
  border: 1px solid #005dff;
  outline: none;
}

#subtasks {
  padding-right: 70px;
}

.substasks input {
  background-image: url(../assets/img/add-task/plus.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
}

input::placeholder,
textarea::placeholder {
  color: #d1d1d1;
  font-family: var(--font-fam);
  font-weight: 400;
}

.task-description textarea {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 16px;
  font-size: 20px;
  resize: none;
}

.task-description select {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 16px;
  appearance: none;
  background-image: url(../assets/img/add-task/arrow-drop-down.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
  font-size: 20px;
  cursor: pointer;
  transition: background-image 1ms ease-in-out;
}

.task-description select::after {
  background-image: url(../assets/img/add-task/arrow-up.svg);
}

.seperator {
  width: 0;
  height: 424px;
  border: 1px solid #d1d1d1;
  margin-left: 20px;
  margin-right: 20px;
}

.first-row {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: fit-content;
  gap: 20px;
}

.first-row div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.first-row-popup {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: fit-content;
  gap: 20px;
}

.first-row-popup div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.second-row {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 426px;
  gap: 20px;
}

.second-row div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.second-row-popup {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 426px;
  gap: 20px;
}

.second-row-popup div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttons {
  position: absolute;
  bottom: 70px;
  left: 920px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.blue-btn {
  background-color: var(--button-blue);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  padding: 16px 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
}

.blue-btn:hover {
  background-color: var(--button-darkblue);
  box-shadow: var(--btn-hover-shadow);
  cursor: pointer;
}

#button-container {
  flex-direction: row;
  gap: 20px;
}

#button-container button {
  box-shadow: 0px 0px 4px 0px #00000029;
  width: 136px;
  height: 56px;
  background-color: #fff;
  border-radius: 10px;
  border: unset;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

#button-container button:first-of-type:hover {
  border-bottom: 2px solid #ff3d00;
}

#button-container button:nth-of-type(2):hover {
  border-bottom: 2px solid #ffa800;
}

#button-container button:last-of-type:hover {
  border-bottom: 2px solid #7ae229;
}

.white-btn {
  background-color: #fff;
  color: var(--btn-color-font);
  border: 1px solid var(--btn-color-font);
  border-radius: 10px;
  font-size: 22px;
  padding: 16px 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
}

.white-btn:hover {
  border-color: var(--button-blue);
  color: var(--button-blue);
  box-shadow: var(--btn-hover-shadow);
  cursor: pointer;
}

.required-container {
  position: absolute;
  bottom: 80px;
  left: 280px;
}

.red-star {
  color: red;
}

.white-btn:hover img {
  filter: invert(48%) sepia(63%) saturate(3935%) hue-rotate(198deg) brightness(102%) contrast(98%);
}

.initials {
  border-radius: 100px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#placeholder {
  display: flex;
  flex-direction: row;
}

#placeholder div:not(:first-child) {
  margin-left: -10px;
}

#placeholder div {
  margin-bottom: 20px;
  cursor: pointer;
}

#subtask-container {
  display: flex;
  position: relative;
}

.cancel-button {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 50px;
  top: 25%;
  cursor: pointer;
}

.check-blue {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 15px;
  top: 25%;
  cursor: pointer;
}

.mini-seperator {
  position: absolute;
  right: 45px;
  cursor: pointer;
  top: 25%;
  height: 50%;
  border: 1px solid #d1d1d1;
}

.d-none {
  display: none;
}

.subtask-link {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 5px;
  padding: 5px 10px;
  height: 20px;
  align-items: center;
}

#subtask-input {
  border: unset;
  border-bottom: 1px solid #29abe2;
  border-radius: unset;
  height: 20px;
  width: 420px;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px 10px;
  background-image: none;
  max-width: 80%;
  overflow-x: scroll;
}

.edit-subtask {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 50px;
  top: 15%;
  cursor: pointer;
}

#subtask-placeholder::-webkit-scrollbar {
  width: 5px;
}

#subtask-placeholder::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#subtask-placeholder::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

.trash-subtask {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  top: 15%;
  cursor: pointer;
}

.mini-seperator-subtask {
  position: absolute;
  right: 45px;
  cursor: pointer;
  top: 10%;
  height: 70%;
  border: 1px solid #d1d1d1;
}

.form-failed-container-task {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form-failed-container-task button {
  height: auto;
  width: 300px;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 20px;
  animation: addTaskButton 1s 1;
  transition: all 1s ease-in-out;
  justify-content: center;
}

@keyframes addTaskButton {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
