.menu-row:nth-of-type(2) {
  /* background-color: var(--hover-lightblue); */
  cursor: pointer;
}

.add-task-main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.task-dialog {
  container-type: inline-size;
  margin-left: -80px;
}

.add-task-main-content {
  width: unset;
}

.task-description {
  height: 424px;
  display: flex;
  padding: 10px 10px 0 10px;
  margin-bottom: 200px;
  font-size: 20px;
}

.task-description-popup {
  height: 424px;
  display: flex;
  padding: 10px 10px 0 10px;
  margin-bottom: 200px;
  font-size: 20px;
}

.task-description input {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 21px;
  font-size: 20px;
}

.substasks input {
  background-image: url(../assets/img/add-task/plus.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
}

input::placeholder,
textarea::placeholder {
  color: #d1d1d1;
  font-family: var(--font-fam);
  font-weight: 400;
}

.task-description textarea {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 16px;
  font-size: 20px;
  resize: none;
}

.task-description select {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 16px;
  appearance: none;
  background-image: url(../assets/img/add-task/arrow-drop-down.svg);
  background-position: center right 15px;
  background-repeat: no-repeat;
  font-size: 20px;
  cursor: pointer;
  transition: background-image 1ms ease-in-out;
}

.task-description select:focus {
  background-image: url(../assets/img/add-task/arrow-up.svg);
}

.seperator {
  width: 0;
  height: 424px;
  border: 1px solid #d1d1d1;
  margin-left: 20px;
  margin-right: 20px;
}

.first-row {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: fit-content;
  gap: 20px;
}

.first-row div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.first-row-popup {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: fit-content;
  gap: 20px;
}

.first-row-popup div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.second-row {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 426px;
  gap: 20px;
}

.second-row div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.second-row-popup {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 426px;
  gap: 20px;
}

.second-row-popup div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttons {
  position: absolute;
  bottom: 70px;
  left: 920px;
  display: flex;
  gap: 20px;
}

.blue-btn {
  background-color: var(--button-blue);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 23px;
  padding: 16px 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
}

.blue-btn:hover {
  background-color: var(--button-darkblue);
  box-shadow: var(--btn-hover-shadow);
  cursor: pointer;
}

#button-container {
  flex-direction: row;
  gap: 20px;
}

#button-container button {
  box-shadow: 0px 0px 4px 0px #00000029;
  width: 136px;
  height: 56px;
  background-color: #fff;
  border-radius: 10px;
  border: unset;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

#button-container button:first-of-type:hover {
  border-bottom: 2px solid #ff3d00;
}

#button-container button:nth-of-type(2):hover {
  border-bottom: 2px solid #ffa800;
}

#button-container button:last-of-type:hover {
  border-bottom: 2px solid #7ae229;
}

.white-btn {
  background-color: #fff;
  color: var(--btn-color-font);
  border: 1px solid var(--btn-color-font);
  border-radius: 10px;
  font-size: 22px;
  padding: 16px 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 4px;
}

.white-btn:hover {
  border-color: var(--button-blue);
  color: var(--button-blue);
  box-shadow: var(--btn-hover-shadow);
  cursor: pointer;
}

.required-container {
  position: absolute;
  bottom: 80px;
  left: 280px;
}

.red-star {
  color: red;
}

.white-btn:hover img {
  filter: invert(48%) sepia(63%) saturate(3935%) hue-rotate(198deg) brightness(102%) contrast(98%);
}

/* media queries */
@media (max-width: 1250px) {
  .first-row {
    width: 311px;
  }

  .second-row {
    width: unset;
  }

  .buttons {
    left: 280px;
    bottom: 100px;
  }

  .required-container {
    bottom: 60px;
  }

  #button-container button {
    width: unset;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 1000px) {
  .task-description {
    flex-direction: column;
    max-height: 600px;
    overflow-y: auto;
    height: fit-content;
  }

  .seperator {
    display: none;
  }

  .task-description::-webkit-scrollbar {
    display: none;
  }

  .first-row {
    width: 440px;
  }

  .second-row {
    width: 440px;
  }

  .buttons {
    left: 280px;
    bottom: 100px;
  }

  .required-container {
    bottom: 60px;
  }

  #button-container button {
    width: 136px;
    padding-left: unset;
    padding-right: unset;
  }
}

@media (max-width: 800px) {
  .first-row {
    width: 100%;
  }

  .second-row {
    width: 100%;
  }

  main {
    margin-left: unset;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 110px;
  }

  #button-container button {
    flex: 1;
  }

  .required-container {
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 80px;
  }

  .task-description {
    min-height: 600px;
    margin-top: 100px;
    margin-left: -50px;
  }

  .menu-row:nth-of-type(2) {
    background-color: transparent;
  }
}

@media (max-width: 600px) {
  #task-dialog-popup {
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 510px) {
  #button-container button {
    width: unset;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
    gap: 20px;
    height: 50px;
  }

  .buttons {
    left: 10px;
    width: unset;
  }

  .required-container {
    justify-content: flex-start;
    left: 10px;
    width: unset;
  }

  #button-container {
    flex-direction: column;
  }
}

@container (min-width: 200px) {
  #add-task {
    align-items: center;
  }

  .task-description {
    flex-direction: column;
    max-height: 600px;
    overflow-y: auto;
    height: fit-content;
    margin-left: -60px;
    margin-top: 0;
  }

  .task-description::-webkit-scrollbar {
    display: none;
  }

  .required-container {
    left: 20px;
  }

  #button-container button {
    flex: 1;
  }

  .buttons {
    left: 200px;
    bottom: 70px;
    justify-content: left;
  }

  .first-row-popup {
    width: 100%;
  }

  .second-row-popup {
    width: 100%;
  }

  .buttons {
    width: 100%;
    left: 0;
    margin-left: 45px;
  }

  .required-container {
    bottom: 10px;
    justify-content: left;
    margin-left: 40px;
    width: unset;
  }
}

details {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 12px 16px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 20px;
}

summary {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

details summary::after {
  content: url(../assets/img/add-task/arrow-drop-down.svg);
  display: inline-flex;
  align-items: center;
  line-height: 8px;
  position: relative;
  transition: transform 0.25s;
}

details[open] summary::after {
  transform: rotate(180deg);
}

details[open] #contact-summary {
  justify-content: flex-end;
}

details[open] #categoy-headline {
  padding-left: 10px;
}

details[open] .summary-headline {
  display: none;
}

details[open]:not(:last-child) {
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 0;
}

details[open]::-webkit-scrollbar {
  width: 5px;
}

details[open]::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

details[open]::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

fieldset {
  border: 0;
  padding: 0;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  border-radius: 10px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

ul li:hover {
  background: #d2e3ff;
  border-radius: 10px;
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

ul li {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

label {
  display: flex;
  align-items: center;
  gap: 16px;
}

input:hover {
  cursor: pointer;
}

.initials {
  border-radius: 100px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#placeholder {
  display: flex;
  flex-direction: row;
}

#placeholder div:not(:first-child) {
  margin-left: -10px;
}

#placeholder div {
  margin-bottom: 20px;
  cursor: pointer;
}

#subtask-placeholder li {
  margin-left: 10px;
}
