.search-input-div {
   width: 279px;
   display: flex;
   height: 32px;
   border: 1px solid rgba(168, 168, 168, 1);
   border-radius: 10px;
   padding: 8px 16px 8px 16px;
   cursor: pointer;
}

.search-input {
   border: none;
   width: 300px;
   outline: none;
   height: 32px;
}

.seperator-div {
   border: 1px solid rgba(168, 168, 168, 1);
   margin-right: 14px;
}

.add-task-button {
   font-size: 23px;
   cursor: pointer;
   background-color: var(--button-blue);
   color: #fff;
   border: none;
   width: 138px;
   height: 51px;
   border-radius: 10px;
}

.add-task-button:hover {
   background-color: var(--button-darkblue);
   box-shadow: var(--btn-hover-shadow);
   /* Animation hinzufügen */
}

.search-addtask-div {
   display: flex;
   gap: 47px;
   padding: 72px 0px 64px 64px;
   align-items: center;
}

.main-board-div {
   height: 100%;
   display: flex;
   flex-direction: column;
}
.main-board {
   height: 100%;
   display: flex;
   flex-direction: column;
}

.board {
   height: 100%;
   display: flex;
   gap: 16px;
   padding: 0px 64px 0px 64px;
}

.tasks-column {
   width: 252px;
   display: flex;
   flex-direction: column;
}

.board-headline {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}

.board-headline span {
   font-size: 23px;
   font-weight: 700;
   font-size: 23;
   font-weight: 700;
}

.board-headline img {
   cursor: pointer;
}

.nothing-to-do-box {
   font-size: 16px;
   background-color: #d1d1d1;
   border: 1px dashed #a8a8a8;
   border-radius: 10px;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
   color: #a8a8a8;
   height: 5vh;
   min-height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 3vh;
}

/* add-task-dialog */
.dialog-container {
   position: absolute;
   display: none;
   height: 100vh;
   top: 0;
   width: 100%;
   z-index: 998;
   background-color: rgba(255, 255, 255, 0.7);
}

.task-dialog {
   position: fixed;
   display: flex;
   flex-direction: column;
   top: 0;
   right: 0;
   height: 100vh;
   padding-left: 36px;
   width: 518px;
   box-shadow: 0px 0px 4px 0px #00000029;
   z-index: 999;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   background-color: #fff;
   right: -600px;
   transition: right 0.3s ease;
}

h1 {
   font-size: 48px;
}

.close-button {
   position: absolute;
   top: 24px;
   right: 30px;
   cursor: pointer;
}

.board-card {
   display: flex;
   flex-direction: column;
   padding: 16px;
   gap: 10px;
   box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
   border-radius: 24px;
   cursor: pointer;
}

.card-label {
   width: 110px;
   height: 27px;
}

.card-title {
   color: rgba(69, 137, 255, 1);
   font-weight: 700;
}

.task-description-board {
   font-size: 16px;
   font-weight: 400;
   color: #a8a8a8;
}

.progress-field {
   display: flex;
   align-items: center;
   gap: 10px;
}

.outer-progress-bar {
   flex: 1;
   background: #f4f4f4;
   height: 8px;
   border-radius: 16px;
}

.inner-progress-bar {
   background-color: rgba(69, 137, 255, 1);
   width: 50%;
   height: 100%;
   border-radius: 16px;
}

.subtasks-text {
   font-size: 13px;
   font-weight: 400;
}

.user-field {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.dialog-overlay-board {
   border: none;
   padding: 0;
   border-radius: 30px;
   outline: none;
}

.task-overlay {
   width: 528px;
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
   border-radius: 30px;
   padding: 48px 40px 48px 40px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.categorie-info {
   display: flex;
   justify-content: space-between;
}

.title-field {
   font-size: 61px;
   font-weight: 700;
}

.description-field {
   font-size: 19px;
   font-weight: 400;
}

.due-date-field {
   display: flex;
   gap: 25px;
   align-items: center;
}

.priority-field {
   display: flex;
   gap: 10px;
   align-items: center;
}

.assigned-to-field {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.subtasks-field {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.seperator-field {
   border: 1px solid rgba(168, 168, 168, 1);
   display: flex;
   justify-content: end;
   gap: 8px;
}

.task-overlay-categories {
   font-size: 21px;
   font-weight: 700;
   color: rgba(66, 82, 110, 1);
}

.delete-edit-field {
   display: flex;
   justify-content: end;
   gap: 8px;
   cursor: pointer;
}

.close-overlay-task {
   cursor: pointer;
}

.task-div {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.contacts-task-overlay {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.assigned-to-div {
   display: flex;
   align-items: center;
   gap: 10px;
}

.contacts-in-cards {
   width: 32px;
   height: 32px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   margin-right: -5px;
   border: 1px solid rgba(255, 255, 255, 1);
}

.contacts-in-cards-div {
   display: flex;
}

.subtask-row {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   gap: 10px;
   justify-content: flex-end;
}

@media only screen and (max-width: 1400px) {
   .board {
      flex-direction: column;
      width: 80%;
   }

   .tasks-column {
      width: 100%;
   }

   .main-board-div {
      align-items: center;
   }
   .search-addtask-div {
      padding-left: 0;
   }
}

@media only screen and (max-width: 800px) {
   .add-task-button {
      display: none;
   }

   .search-input-div {
      width: 100%;
   }

   .search-input {
      width: 80%;
   }

   .search-addtask-div {
      width: 80%;
      padding: 30px 0px 30px 0px;
   }

   .task-div {
      display: flex;
   }

   .board-card {
      width: 200px;
   }

   .board-headline img {
      height: 30px;
      width: 30px;
   }

   .board {
      width: 94%;
   }
}

/* CSS Media Overlay-Task */

@media only screen and (max-width: 660px) {
   .overlay-card-label {
      width: 110px;
      height: 27px;
   }

   .title-field {
      font-size: 36px;
   }

   .task-overlay {
      padding: 32px 24px 32px 24px;
      width: unset;
   }

   .dialog-overlay-board {
      width: 90%;
   }

   .description-field {
      font-size: 16px;
   }

   .task-overlay-categories {
      font-size: 16px;
   }
}
