:root {
  --headline-1: 3rem;
}

.contacts-container {
  display: flex;
  height: calc(100vh - 60px);
  /* Ensure the container takes up the full available height */
}

.contacts-list {
  width: 450px;
  overflow-y: auto;
  padding: 20px;
  padding-bottom: 80px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.add-contact-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: var(--button-blue);
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.contact-group {
  margin-bottom: 20px;
}

.contact-group-title {
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 5px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact:hover {
  background-color: var(--hover-lightblue);
  border-radius: 5px;
}

.contact.selected {
  background-color: var(--hover-blue);
  color: white; 
  border-radius: 5px;
}

.contact.selected .contact-email {
  color: white;
}

.contact-initials {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 10px;
}

.contact-info {
  flex-grow: 1;
}

.contact-name {
  font-size: 19px;
  flex-grow: 1;
}

.contact-name-detail {
  font-size: var(--headline-1);
}

.contact-email {
  font-size: 14px;
  color: gray;
}

.contact-detail {
  flex-grow: 1;
  padding: 20px;
}

.contact-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contact-initials-large {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
  margin-right: 20px;
}

.name-initial-container {
  display: flex;
  align-items: center;
}

.contact-actions {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.contact-actions button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.contact-actions button img {
  margin-right: 5px;
  width: 20px;
}

.edit-btn:hover,
.delete-btn:hover {
  color: var(--hover-darkblue);
  font-weight: bold;
}

.contact-detail-info h2 {
  margin-top: 0;
  color: black;
}

.contact-detail-info p {
  margin: 5px 0;
}

.contact-detail-info button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: var(--button-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact-detail-info a {
  color: var(--identity-clr);
  text-decoration: none;
}

.contact-detail-info a:hover {
  text-decoration: underline;
}

.dialog-container {
  position: absolute;
  display: none;
  height: 100vh;
  top: 0;
  width: 100%;
  z-index: 998;
  background-color: rgba(255, 255, 255, 0.7);
}

.task-dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  height: 100vh;
  padding-left: 36px;
  width: 518px;
  box-shadow: 0px 0px 4px 0px #00000029;
  z-index: 999;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #fff;
  right: -600px;
  transition: right 0.3s ease;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 30px;
  cursor: pointer;
}
