:root {
  --identity-clr: #4589ff;

  /* hover */
  --hover-lightblue: #d2e3ff;
  --hover-blue: #4589ff;
  --hover-darkblue: #005dff;

  /* background colours */
  --bg-clr-1: #ffffff;
  --bg-clr-2: #D2E3FF;

  /* box shadows */
  --bx-shadow-login: 0px 0px 10px 3px #00000014;
  --bx-shadow-task: 0 0 4px 0 rgba(0, 0, 0, 0.16);

  /* login form */
  --login-clr: #d1d1d1;
  --links: #42526e;
  --btn-color-font: #647188;
  --btn-hover-shadow: 0px 4px 8px 0px #00000033;

  /* contact icon colours */
  --contact-icon-red: #ff4646;

  --contact-icon-pink-1: #ff5eb3;
  --contact-icon-pink-2: #fc71ff;

  --contact-icon-orage-1: #ff7a00;
  --contact-icon-orange-2: #ff745e;
  --contact-icon-orange-3: #ffa35e;
  --contact-icon-orange-4: #ffbb2b;

  --contact-icon-yellow-1: #ffc701;
  --contact-icon-yellow-2: #ffe62b;

  --contact-icon-neon-green: #c3ff2b;

  --contact-icon-turquise-1: #00bee8;
  --contact-icon-turquise-2: #1fd7c1;
  --contact-icon-blue: #0038ff;

  /* button colours */
  --button-blue: #4589ff;
  --button-darkblue: #005dff;
  --button-blackblue: #091931;

  /* priotity colurs */
  --urgent: #ff3d00;
  --medium: #ffa800;
  --low: #7ae229;

  /* font */
  --font-fam: 'Open Sans';

  --headline-1: 3rem;
  --headline-2: 4rem;
  --headline-3: 1.5rem;
  --headline-4: 1rem;

  --button-txt: 1.5rem;

  --font-weight-bold: 700;
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}
/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/open-sans-v40-latin-700.woff2') format('woff2');
}

/* global */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-fam);
  scroll-behavior: smooth;
}
