body {
   margin: 0;
   height: 100vh;
   overflow: hidden;
}

header {
   background-color: var(--button-blue);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   padding: 20px 39px 20px 39px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
   z-index: 1;
}

header span {
   font-weight: 400;
   font-size: 19px;
   color: var(--bg-clr-1);
}

.desktop-template-div {
   display: flex;
   flex-direction: column;
   height: 100%;
}

.atf-container {
   display: flex;
   flex: 1;
   height: 80%;
}

.atf-container-guest {
   display: flex;
   flex: 1;
   height: 80%;
}

.sidebar {
   display: flex;
   flex-direction: column;
   min-width: 232px;
   justify-content: space-between;
   align-items: center;
   background-color: var(--bg-clr-1);
   padding: 66px 0px 66px 0px;
   align-items: center;
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.sidebar-guest {
   display: flex;
   flex-direction: column;
   min-width: 232px;
   justify-content: flex-end;
   align-items: center;
   background-color: var(--bg-clr-1);
   padding: 66px 0px 66px 0px;
   align-items: center;
   box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.header-right-side {
   display: flex;
   align-items: center;
   gap: 22px;
   justify-content: space-between;
}

.sidebar-menu {
   display: flex;
   flex-direction: column;
   gap: 15px;
   align-items: flex-start;
}

.menu-row {
   height: 24px;
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 8px 30px 8px 30px;
   border-radius: 8px;
   width: 126px;
}

.menu-row:hover {
   background-color: var(--hover-lightblue);
   cursor: pointer;
}

.lower-sidebar {
   display: flex;
   flex-direction: column;
   gap: 8px;
   justify-content: center;
   align-items: center;
   width: 112px;
   display: flex;
   justify-content: center;
}

.lower-sidebar a {
   padding: 8px;
   text-decoration: none;
   color: black;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 116px;
}

.lower-sidebar a:hover {
   color: var(--button-blue);
}

.main-content {
   height: 100%;
   width: 100%;
   /* display: flex;
   justify-content: center;
   align-items: center; */
}

.header-help-logo {
   transition: transform 0.2s;
}

.header-help-logo:hover {
   transform: scale(1.2);
   cursor: pointer;
}

.user-logo-header:hover {
   opacity: 0.9;
   cursor: pointer;
}

.user-icon-popup {
   height: 137px;
   width: 172px;
   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
   border-radius: 20px 0px 20px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
   position: absolute;
   top: 107px;
   right: 7px;
   display: none;
   background-color: white;
}

.sessionStorageInitials {
   position: relative;
   display: inline-block;
   cursor: pointer;
}

.sessionStorageInitials img {
   display: block;
}
.sessionStorageInitials .logoInitials {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #005dff;
   border-radius: 5px;
   pointer-events: none;
   z-index: 999;
}

.user-icon-popup a {
   padding: 8px 16px 8px 16px;
   border-radius: 8px;
   text-decoration: none;
   font-size: 19px;
   color: black;
   background-color: white;
}

.user-icon-popup a:hover {
   background-color: var(--hover-lightblue);
   cursor: pointer;
}

.greeting-mobile {
   font-size: 48px;
   font-weight: 700;
   color: rgb(69, 137, 255);
}

.greeting-div-mobile {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

@media only screen and (max-width: 800px) {
   .header-headline {
      display: none;
   }

   .header-help-logo {
      display: none;
   }

   .sessionStorageInitials .logoInitials {
      font-size: 16px;
   }

   .header-right-side {
      display: flex;
      align-items: center;
   }

   .user-logo-header {
      height: 40px;
   }

   .header-logo {
      height: 39px;
   }

   .atf-container {
      flex-direction: column-reverse;
   }

   .lower-sidebar {
      display: none;
   }

   .sidebar-menu {
      flex-direction: unset;
      gap: unset;
      width: 100%;
      justify-content: space-around;
      align-items: flex-end;
   }

   .sidebar {
      height: 76px;
      padding: 0px 16px 0px 16px;
      box-shadow: 0px -1px 6px 0px rgba(0, 0, 0, 0.1);
      flex-direction: unset;
      align-items: center;
      justify-content: center;
      padding: 0;
      z-index: 1;
   }

   .sidebar-guest {
      display: none;
   }

   .menu-row {
      flex-direction: column;
      gap: 4px;
      height: 100%;
      padding: 0;
   }

   .main-content {
      height: 90%;
      flex: 1;
   }

   .color-img-sidebar path {
      fill: rgb(69, 137, 255);
   }

   .menu-row-color {
      color: rgb(69, 137, 255);
   }

   .menu-row:hover {
      background-color: unset;
   }
}
